@layer components {
  .top-level-section {
    scroll-margin-top: 6em;
  }

  .body-text {
    p ~ p {
      margin-top: 1em;
    }
  }

  .green-text-shadow {
    text-shadow: 0px 0px 11px theme("colors.green.800");
  }

  .decorated-list li {
    display: flex;
    gap: 0.5em;
    &::before {
      content: '\003E';
      color: theme("colors.green.800");
      display: inline-block;
      font-size: 1em;
    }
  }
}