@font-face {
  font-family: 'Antikor Text';
  src: local('Antikor Text Light'), local('Antikor-Text-Light'),
      url('./fonts/AntikorText-Light.woff2') format('woff2'),
      url('./fonts/AntikorText-Light.woff') format('woff'),
      url('./fonts/AntikorText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Antikor Text';
  src: local('Antikor Text Medium'), local('Antikor-Text-Medium'),
      url('./fonts/AntikorText-Medium.woff2') format('woff2'),
      url('./fonts/AntikorText-Medium.woff') format('woff'),
      url('./fonts/AntikorText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Antikor Text';
  src: local('Antikor Text Bold'), local('Antikor-Text-Bold'),
      url('./fonts/AntikorText-Bold.woff2') format('woff2'),
      url('./fonts/AntikorText-Bold.woff') format('woff'),
      url('./fonts/AntikorText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: 'Antikor Text';
}