---
layout: base.njk
eleventyComputed:
  title: "{{ home.title }}"
  description: "{{ home.description }}"
---

<div id="overlay" class="
  fixed z-30 inset-0 bg-black opacity-0 pointer-events-none
  transition-opacity duration-300
">
</div>

<header
  class="home-header {{classes.container}}"
  style="height:90vh;min-height:500px"
>
  <div class="
    relative flex mt-20 md:mt-32 lg:mt-20
    col-start-1 col-end-10 sm:col-start-2 lg:col-end-8 lg:col-end-6 self-end
  ">
    <h1
      aria-label="Vinicius Rocha"
      class="capsizedText text-5xl md:text-7xl xl:text-8xl font-bold tracking-wide text-gray-100"
    >
      VINI-<div> <span class="text-sm md:text-4xl">&nbsp;&nbsp;</span> CIUS</div>
      ROCHA
    </h1>
    <div class="header-indicator relative ml-7 md:ml-12 -my-2 md:-my-3 lg:-my-8 w-px bg-gray-500">
      <div class="
        pointer absolute flex items-center
        left-full top-1/2 transform -translate-y-1/2
      ">
        <span class="relative flex mr-1 ml-3 lg:mr-2 lg:ml-3 h-2.5 w-2.5 justify-center items-center">
          <span class="animate-ping-slow absolute inline-flex h-full w-full rounded-full bg-green-800 opacity-75"></span>
          <span class="relative inline-flex rounded-full h-1.5 w-1.5 bg-green-800"></span>
        </span>
        <p class="mt-0.5 text-2xs md:text-xs lg:text-sm text-gray-200">Available</p>
      </div>
    </div>
  </div>
  <div class="
    mt-6 md:mt-10 lg:mt-14
    col-start-1 col-end-13 sm:col-start-2 sm:col-end-9 lg:col-end-7 xl:col-end-7 self-start
  ">
      <p class="max-w-prose text-sm md:text-base lg:text-lg text-gray-400">
        {{ home.description }}
      </p>
  </div>

  <div
    id="menu-underlay"
    class="
      fixed top-0 right-0 w-96 h-96 lg:hidden
      transform -rotate-35 translate-x-3/4 -translate-y-3/4 scale-x-102 scale-y-300
      transition-transform duration-300 bg-green-200 z-40
    "
    style="will-change: transform"
  >
  </div>

  <button id="menu-button" class="fixed top-0 right-0 lg:hidden w-14 h-16 z-40" aria-label="Open menu">
    <svg class="ml-auto mr-3.5" width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="2" y1="13" x2="17" y2="13" stroke="#232323" stroke-width="2"/>
      <line x1="5" y1="7" x2="17" y2="7" stroke="#232323" stroke-width="2"/>
      <line y1="1" x2="17" y2="1" stroke="#232323" stroke-width="2"/>
    </svg>
    <img src="./img/close.svg" width="14" height="15" alt="" class="hidden ml-auto mr-3.5" lazyload="lazy">
  </button>

  <div
    id="menu"
    class="
      fixed flex flex-col top-24 right-10 lg:static lg:top-auto lg:right-auto lg:mt-16
      md:pr-4 lg:col-start-9 lg:col-end-13 lg:row-start-1 lg:row-end-3
      lg:bg-transparent text-gray-900 text-right
      transition-opacity opacity-0 lg:opacity-100 z-40
      pointer-events-none md:pointer-events-auto
    "
  >
    <nav
      id="menu-nav"
      class="
        lg:fixed container lg:left-0 lg:right-0 lg:mx-auto lg:pr-8
        font-medium leading-10 text-base text-gray-800 lg:text-white lg:leading-6 lg:tracking-wide
        pointer-events-none
      "
    >
      <ul id="nav-link-list" class="nav-link-list lg:inline-block lg:pointer-events-auto">
        <li class="mt-1 pt-1"><a class="inline-block" href="#work">Experience</a></li>
        <li class="mt-1 pt-1"><a class="inline-block" href="#about">About</a></li>
        <li class="mt-1 pt-1"><a class="inline-block" href="#contact">Contact</a></li>
      </ul>
    </nav>
    <address class="hidden mt-auto lg:block">
      <a class="inline-block -mx-3 pt-0.5 px-3 bg-gray-100" href="mailto:{{ shared.contact.email }}">
        {{ shared.contact.email }}
      </a>
      <span class="mt-3 inline-block -mx-3 pt-0.5 px-3 bg-gray-100">
        {%- for social in shared.contact.social -%}
          {% if loop.index0 !== 0 %}
            <span> / </span>
          {% endif %}
          <a href="{{ social.href }}">{{ social.label }}</a>
        {%- endfor -%}
      </span>
    </address>
  </div>
</header>

<main class="pb-20">
  <section id="work" class="top-level-section mt-32 md:mt-56 lg:mt-48 xl:mt-96">
    <div class="{{classes.container}}">
      <div class="flex col-span-12 md:col-start-2">
        <h2
          id="work-title"
          class="text-5xl md:text-6xl lg:text-7xl font-bold text-gray-300"
        >
          {{ home.experience.title }}
        </h2>
        <span class="ml-2 md:text-lg lg:text-xl font-bold text-green-800 green-text-shadow">{{ home.experience.sectionNumber }}</span>
      </div>
    </div>



    <div class="tabs mt-10 lg:mt-16 container lg:mx-auto grid grid-cols-12 md:px-4">
      <div
        class="relative flex flex-row-reverse pt-2 md:flex-col flex-nowrap col-span-12 md:col-start-2 md:col-span-4 lg:col-start-2 lg:col-span-3 overflow-x-auto md:overflow-hidden"
        role="tablist"
        aria-labelledby="work-title"
      >
        {%- for company in shared.experience.companies  -%}
          {% set outer_loop = loop %}
          {%- for role in company.roles  -%}
            <button
              role="tab"
              aria-selected="{{ "true" if outer_loop.first and loop.first else "false" }}"
              id="{{ company.name }}-{{ role.title }}-tab"
              class="{{ "last " if outer_loop.last and loop.last  }}{{ "first " if outer_loop.first and loop.first }}
                relative mb-4 pb-4 inline-flex items-end md:items-start md:mb-0 md:ml-6 md:pb-0 md:h-28 flex-grow-0 flex-shrink-0
                font-light md:text-left text-gray-400"
            >
              <span class="inline-flex flex-col justify-end md:justify-start items-center md:items-start md:pr-4" style="flex: 70% 2 1">
                <span class="role-title text-sm md:text-base font-light md:text-left leading-5 text-gray-400">{{ role.title }}</span>
                <span class="comapny-name text-sm text-gray-500">{{ company.name }}</span>
              </span>
              <span class="dash hidden h-px flex-grow bg-gray-500 flex-shrink-0" role="presentation"  style="flex: 30% 1 0"></span>
            </button>
          {%- endfor %}
        {%- endfor %}
      </div>

      <div
        class="tabpanel-container relative mt-6 md:mt-0 col-span-12 md:col-span-6 md:col-start-6 lg:col-span-7 lg:col-start-5 px-4 md:px-0
          md:border-l md:border-gray-500"
      >
        {%- for company in shared.experience.companies -%}
          {% set outer_loop = loop %}
          {%- for role in company.roles  -%}
            <section
              role="tabpanel"
              aria-labelledby="{{ company.name }}-{{ role.title }}-tab"
              class="md:pl-8 md:py-8"
              {% if loop.index0 !== 0 or outer_loop.index0 !== 0 %}hidden{% endif %}
            >
              <h3 class="text-xl text-gray-300">{{ role.title }}</h3>
              <time class="block text-sm text-gray-500">{{ role.period }}</time>
              <a href="{{ company.websiteUrl }}" target="_blank" class="text-green-500 text-sm font-medium tracking-wide">
                {{ company.websiteUrl }}
              </a>
              <p class="{{ classes.bodyText }} mt-5 text-gray-400">{{ role.description }}</p>
              {% if role.list and role.list.length %}
                <ul class="{{ classes.bodyText }} decorated-list mt-1 text-gray-400">
                  {%- for roleItem in role.list -%}
                    <li class="mt-0">{{ roleItem }}</li>
                  {%- endfor %}
                </ul>
              {% endif %}
            </section>
          {%- endfor %}
        {%- endfor %}
      </div>
    </div>
  </section>

  <section id="about" class="top-level-section {{classes.container}} mt-32 md:mt-64 lg:mt-80 xl:mt-96 items-center">
    <div class="mt-32 md:mt-0 col-span-12 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-5">

      <div class="flex col-span-12 md:col-start-2">
        <h2 class="text-5xl md:text-6xl lg:text-7xl font-bold text-gray-300">
          {{ home.about.title }}
        </h2>
        <span class="ml-2 md:text-lg lg:text-xl font-bold text-green-800 green-text-shadow">{{ home.about.sectionNumber }}</span>
      </div>

      <div class="{{ classes.bodyText }} mt-4 lg:mt-8 max-w-prose text-gray-400">
        {{ home.about.description | safe}}
      </div>
      <div class="flex mt-5 lg:mt-7 items-center">
        {% for logo in home.about.logos %}
          <img
            src="{{ logo.src }}"
            alt="{{ logo.title }}"
            title="{{ logo.title }}"
            class="mr-6 w-10 lg:mr-6 lg:w-auto lg:h-auto"
            width="{{ logo.width }}"
            height="{{ logo.height }}"
          />
        {% endfor %}
      </div>
      {% if home.about.link %}
        <a href="{{home.about.link.href}}" class="inline-block mt-10 lg:mt-14 text-green-500 font-medium tracking-wide">
          {{ home.about.link.label }}
        </a>
      {% endif %}
    </div>

    <div class="
      flex flex-row md:flex-col col-span-12 md:col-start-9 md:col-span-3 order-first md:order-none
      justify-center md:items-end lg:items-center
    ">
      {%- for achievement in home.about.achievements -%}
        <section class="
          {{ 'md:mt-4 lg:mt-6 border-l-0' if loop.index0 !== 0 }} border border-dashed
          px-3 pt-3 pb-2 h-28 w-28 flex-shrink-0
          sm:px-3 sm:pt-4 sm:pb-3 sm:h-36 sm:w-36
          md:border-l md:px-3 md:pt-4 md:pb-4 md:h-36 md:w-36
          lg:px-6 lg:pt-7 lg:pb-6 lg:h-48 lg:w-48
        ">
          <h3 class="text-sm sm:text-base lg:text-xl font-medium tracking-wide">{{ achievement[0] | safe }}</h3>
          {% if achievement[1] %}
            <p class="mt-0.5 sm:mt-1 text-2xs sm:text-xs lg:text-sm tracking-wide text-gray-400">{{ achievement[1] | safe }}</p>
          {% endif %}
        </section>
      {%- endfor %}
    </div>
  </section>

  <section id="contact" class="top-level-section {{classes.container}}  mt-56 md:mt-64 lg:mt-80 xl:mt-96">
    <div class="flex col-span-12 md:col-start-2">
      <h2 class="text-5xl md:text-6xl lg:text-7xl font-bold text-gray-300">
        {{ home.contact.title }}
      </h2>
      <span class="ml-2 md:text-lg lg:text-xl font-bold text-green-800 green-text-shadow">{{ home.contact.sectionNumber }}</span>
    </div>

    <address class="flex flex-col md:flex-row justify-between mt-8 col-span-12 md:col-start-2">
      <div>
        <p class="text-gray-300">
          {{ home.contact.address.label }}
        </p>
        <a href="mailto:{{ shared.contact.email }}" class="text-green-500 text-xl sm:text-2xl md:text-3xl lg:text-4xl font-medium tracking-wide">
          {{shared.contact.email}}
        </a>
      </div>
      <div class="mt-8 md:mt-0 md:mx-auto">
        {% for social in shared.contact.social %}
          <p class="{{ 'mt-4' if loop.index0 !== 0 }} text-sm lg:text-base text-gray-300 leading-4 capitalize">
            {{ social.label }}
          </p>
          <a href="{{ social.href }}" class="text-green-500 text-base lg:text-lg font-medium tracking-wide">
            {{ social.short }}
          </a>
        {% endfor %}
      </div>
    </address>
  </section>
</main>