---
layout: base.njk
eleventyComputed:
  title: "{{ home.title }}"
---
<header
  class="home-header {{classes.container}}"
  style="height:90vh;min-height:330px"
>
  <div class="
    relative flex mt-20
    col-start-1 col-end-10 sm:col-start-2 lg:col-end-8 lg:col-end-6 self-end
  ">
    <h1
      aria-label="Vinicius Rocha"
      class="capsizedText text-5xl md:text-7xl xl:text-8xl font-bold tracking-wide text-gray-100"
    >
      VINI-<div> <span class="text-sm md:text-4xl">&nbsp;&nbsp;</span> CIUS</div>
      ROCHA
    </h1>
    <div class="header-indicator relative ml-7 md:ml-12 -my-2 md:-my-3 lg:-my-8 w-px bg-gray-500">
      <div class="
        pointer absolute flex items-center
        left-full top-1/2 transform -translate-y-1/2
      ">
        <span class="relative flex mr-1 ml-3 lg:mr-2 lg:ml-3 h-2.5 w-2.5 justify-center items-center">
          <span class="animate-ping-slow absolute inline-flex h-full w-full rounded-full bg-green-800 opacity-75"></span>
          <span class="relative inline-flex rounded-full h-1.5 w-1.5 bg-green-800"></span>
        </span>
        <p class="mt-0.5 text-2xs md:text-xs lg:text-sm text-gray-200">Available</p>
      </div>
    </div>
  </div>
  <div class="
    mt-6 md:mt-10 lg:mt-14
    col-start-1 col-end-13 sm:col-start-2 sm:col-end-9 lg:col-end-7 xl:col-end-6 self-start
  ">
      <p class="max-w-prose text-sm md:text-base">
        {{ home.description }}
      </p>
  </div>

  <div
    id="menu-underlay"
    class="
      fixed top-0 right-0 w-96 h-96 lg:hidden
      transform -rotate-35 translate-x-3/4 -translate-y-3/4 scale-x-102 scale-y-300
      transition-transform duration-300 bg-green-200 z-40
    "
    style="will-change: transform"
  >
  </div>

  <button id="menu-button" class="fixed top-0 right-0 lg:hidden w-14 h-16 z-40" aria-label="Open menu">
    <svg class="ml-auto mr-3.5" width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="2" y1="13" x2="17" y2="13" stroke="#232323" stroke-width="2"/>
      <line x1="5" y1="7" x2="17" y2="7" stroke="#232323" stroke-width="2"/>
      <line y1="1" x2="17" y2="1" stroke="#232323" stroke-width="2"/>
    </svg>
    <img src="./img/close.svg" width="14" height="15" alt="" class="hidden ml-auto mr-3.5" lazyload="lazy">
  </button>

  <div
    id="menu"
    class="
      fixed flex flex-col top-24 right-10 lg:static lg:top-auto lg:right-auto lg:mt-16
      md:pr-4 lg:col-start-9 lg:col-end-13 lg:row-start-1 lg:row-end-3
      lg:bg-transparent text-gray-900 text-right
      transition-opacity pointer-events-none opacity-0 lg:opacity-100 lg:pointer-events-auto z-40
    "
  >
    <nav class="
      font-medium leading-10 text-base tracking-wider text-gray-800 lg:text-white lg:leading-6 lg:tracking-widest
    ">
      <ul class="nav-link-list lg:inline-block">
        <li class="mt-1"><a class="inline-block" href="#work">LATEST WORK</a></li>
        <li class="mt-1"><a class="inline-block" href="#about">ABOUT</a></li>
        <li class="mt-1 -mx-3 pt-1 px-3 text-gray-800 lg:bg-green-200"><a class="inline-block" href="#contact">CONTACT</a></li>
      </ul>
    </nav>
    <address class="hidden mt-auto lg:block">
      <a class="inline-block -mx-3 pt-0.5 px-3 bg-gray-100" href="mailto:{{ shared.contact.email }}">{{ shared.contact.email }}</a><br>
      <span class="mt-3 inline-block -mx-3 pt-0.5 px-3 bg-gray-100">
        {%- for social in shared.contact.social -%}
          {% if loop.index0 !== 0 %}
            <span> / </span>
          {% endif %}
          <a href="{{ social.link }}">{{ social.name }}</a>
        {%- endfor -%}
      </span>
    </address>
  </div>
</header>



<main class="pb-20">
  <section
    id="work"
    class="
      corner-border container relative xl:mx-auto px-6 xl:px-12 grid grid-cols-12
      mt-20 mx-4 xl:mt-44 {{classes.container}}
      py-12 sm:py-16 md:py-20 lg:pt-24 lg:pb-12 w-auto
    "
  >
    <div class="
      mx-auto max-w-xs lg:max-w-none col-span-12 sm:col-span-8 sm:col-start-3
      lg:col-span-12 lg:col-start-1 lg:col-end-13
    ">
      {% sectTitle home.latestWork.title %}
      <div class="
        flex flex-col lg:flex-row justify-between items-center lg:items-start
        mt-10 lg:mt-8
        gap-14 lg:gap-16 xl:gap-20
      ">
      
        {%- for project in shared.projects.list -%}
          <section class="relative pr-9 {{ 'hidden' if loop.index0 !== 0 }} lg:block" style="flex-basis:33%">
            <a href="{{ project.link }}" class="block border border-green-500 p-px">
              <img
                src="{{ project.image }}"
                alt="Vaemilhas"
                lazyload="lazy"
                class="relative z-10"
                width="324"
                height="216"
              >
            </a>
            <div class="relative z-10 py-4 pl-3 pr-5">
              <h3 class="text-xl font-medium text-gray-300">{{ project.title }}</h3>
              <p class="text-sm">{{ project.description }}</p>
            </div>
            <ul class="absolute top-6 right-0 w-11" style="z-index:-1">
              {% for tech in project.stack -%}
                <li class="
                  flex justify-center items-center
                  {% if loop.index0 === 0 %} border-t bg-gray-900{% else %}{% endif %}
                  border-b border-r border-l border-gray-200
                  pl-1.5 pr-2 h-16 text-right
                ">
                  <p class="text-2xs">{{ tech | safe }}</p>
                </li>
              {%- endfor %}
            </ul>
          </section>
          {% if loop.index0 === 0 %}
            <input type="checkbox" id="expand-projects" class="hidden">
            <button class="hide-on-expand lg:hidden">
              <label for="expand-projects" class="flex lg:hidden items-baseline text-green-500 font-medium">
                {{ home.latestWork.expand }}
                <svg class="ml-3" aria-hidden="true" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="5.9502" y1="12" x2="5.9502" y2="-3.27835e-08" stroke="#CDE56B" stroke-width="1.5"/>
                <line x1="6.01032e-08" y1="6.25" x2="12" y2="6.25" stroke="#CDE56B" stroke-width="1.5"/>
                </svg>
              </label>
            </button>
          {% endif %}
        {%- endfor %}
      </div>
    </div>
  </section>

  <section class="{{classes.container}} mt-24 xl:mt-56">
    <div class="mt-24 md:mt-10 col-span-12 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-5">
      {% sectTitle home.about.title %}
      {% p home.about.description, 'mt-1 lg:mt-2 max-w-prose' %}
      {% if home.about.link %}
        <a href="{{home.about.link.href}}" class="inline-block mt-14 text-green-500 font-medium tracking-wide">
          {{ home.about.link.label }}
        </a>
      {% endif %}
    </div>

    <div class="
      flex flex-row mt-8 md:mt-0 md:flex-col col-span-12 md:col-start-9 md:col-span-3 order-first md:order-none
      justify-center md:items-end lg:items-center
    ">
      {%- for achievement in home.about.achievements -%}
        <section class="
          {{ 'md:mt-4 lg:mt-6 border-l-0' if loop.index0 !== 0 }} border border-dashed
          px-3 pt-3 pb-2 h-28 w-28 flex-shrink-0
          sm:px-3 sm:pt-4 sm:pb-3 sm:h-36 sm:w-36
          md:border-l md:px-3 md:pt-4 md:pb-4 md:h-36 md:w-36
          lg:px-6 lg:pt-7 lg:pb-6 lg:h-48 lg:w-48
        ">
          <h3 class="text-sm sm:text-base lg:text-xl font-medium tracking-wide">{{ achievement[0] | safe }}</h3>
          {% if achievement[1] %}
            <p class="mt-0.5 sm:mt-1 text-2xs sm:text-xs lg:text-sm tracking-wide text-gray-300">{{ achievement[1] | safe }}</p>
          {% endif %}
        </section>
      {%- endfor %}
    </div>
  </section>

  <section id="contact" class="top-level-section {{classes.container}} mt-56 lg:mt-48 xl:mt-56">
    {% sectTitle home.contact.title, 'col-span-12' %}

    <address class="flex flex-col md:flex-row justify-between mt-6 col-span-12">
      <div>
        <p class="text-gray-300">
          {{ home.contact.address.label }}
        </p>
        <a href="mailto:{{ shared.contact.email }}" class="text-green-500 text-xl sm:text-2xl md:text-3xl lg:text-4xl font-medium tracking-wide">
          {{shared.contact.email}}
        </a>
      </div>
      <div class="mt-8 md:mt-0 md:mx-auto">
        {% for social in shared.contact.social %}
          <p class="{{ 'mt-4' if loop.index0 !== 0 }} text-sm lg:text-base text-gray-300 leading-4 capitalize">
            {{ social.label }}
          </p>
          <a href="{{ social.href }}" class="text-green-500 text-base lg:text-lg font-medium tracking-wide">
            {{ social.short }}
          </a>
        {% endfor %}
      </div>
    </address>
  </section>
</main>